cscope.files
cscope.out
tags
simv
simv.daidir
csrc
ucli.key
vc_hdrs.h
INCA_libs
irun.log
irun.key

fpga-local-cmd

*_compile.log
*_run.log
*.vpd
.simvision
*.vcd
*.vcdplus*
waves.shm

*~
.\#*
\#*

*.swp
*.o
.nfs*
*.so
*.a

nohup.out
*.nohup.out

hdk/common/shell_*/build/checkpoints/from_aws/SH_CL_BB_routed.dcp*
hdk/common/verif/scripts/tmp
hdk/common/verif/scripts/vivado*.jou
hdk/common/verif/scripts/vivado*.log

# These get created when you run vivado interactively
vivado_pid*.str
vivado.jou
vivado.log
