*.jou
*.log
*/build/bitstreams/*.log
*/build/bitstreams/*.bin
*.bin
*/build/checkpoints
*/build/checkpoints/*.dcp
*/build/constraints/cl_clocks_aws.xdc
*/build/reports/*.rpt
*/build/reports/*.txt
*/build/scripts/.Xil
*/build/scripts/last_log
*/build/scripts/fsm_encoding.os
*/build/scripts/hd_visual
*/build/scripts/*.nohup.out
*/build/scripts/usage_statistics_webtalk.html
*/build/scripts/usage_statistics_webtalk.xml
*/build/checkpoints/to_aws/*.dcp
*/build/checkpoints/to_aws/*.log
*/build/checkpoints/to_aws/*.tar
*/verif/sim
*/verif/.cxl*
*/verif/*.log
*/verif/*.ini
*/verif/*.setup
*/software/runtime/test_hello_world
*/software/runtime/test_dram_dma
